<div class="auth" style="background-image: url('../assets/img/login_page_bg.jpg');">

  <div class="w-50">
    <div class="auth-text">
      <div class="neo_img"><img src="../../../assets/img/NEO_logo_login.png"></div>
      <div class="line_img"><img src="../../../assets/img/Line_blw_neo.png"></div>
      <div class="procureai">
        <h2>Procure.ai</h2>
      </div>
    </div>
    <!-- forms -->
    <div class="card shadow auth-forms" style="width: 28%">
      <!-- login form -->
      <div class="auth-login">
        <div class="wrapper">
          <h3 class="mb-4 dark text-center">LOGIN</h3>
          <form>
            <div class="form-group">
              <input type="text" class="form-control" placeholder="User name" autofocus />
            </div>
            <div class="form-group">
              <input type="password" class="form-control" placeholder="Password" />
            </div>
            <div class="custom-control custom-checkbox">
              <input type="checkbox" class="custom-control-input" checked id="customCheck1">
              <label class="custom-control-label" for="customCheck1">Remember Me</label>
            </div>
            <div class="form-group text-center">
              <button type="submit" class="btn  w-30 m-3 btn-round btn-info" (click)="tryLogin()">
               <span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Log In&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
              </button>
            </div>
            <div class="form-group text-center">
                 <a href="#">Dont have an Account?</a>
              </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>