<nav class="navbar navigation-bar" [class.hidden]="commonService.navbarToggleValue" [class.sidebar-hidden]="commonService.sidebarToggleValue">
  <div class="nav-toggle-btn" [class.open]="!commonService.sidebarToggleValue" (click)="commonService.sidebarToggle()">
    <span *ngFor="let number of [0,1,2]"></span>
  </div>
  <ul class="left-ul">
    <li>
      <button id="minimizeSidebar" class="btn btn-just-icon btn-round btn-light" (click)="commonService.sidebarMiniToggle()">
        <i *ngIf="!commonService.sidebarMiniToggleValue" class="material-icons sd-visible">more_vert</i>
        <i *ngIf="commonService.sidebarMiniToggleValue" class="material-icons sdm-visible">view_list</i>
      </button>
    </li>
    <li class="nav-item" style="color: #275A97; font-weight: bold; font-size: 17pt;">{{title}}</li>
  </ul>
  <ul class="right-ul">
    <li class="nav-item" (click)="email();"><i class="material-icons">email</i></li>
    <li class="nav-item"><i class="material-icons">notifications</i></li>
    <li class="nav-item"><img class="brandImg" src="../../assets/img/user_pic.jpg" alt="brandImg"></li>
  </ul>
</nav>