<div class="row" style="margin-bottom: 1%">
  <div class="col-md-7">
    <div class="text-left">
      <button type="button" class="btn btn-info btn-sm" (click)="createConfiguration(template)">
        <i class="material-icons" style="background:rgba(0,0,0,0.15);">add</i>&nbsp;&nbsp;Add</button>&nbsp;&nbsp;
      <button type="button" class="btn btn-info btn-sm" (click)="deleteConfiguration()">
        <i class="material-icons" style="background:rgba(0,0,0,0.15);">delete</i>&nbsp;&nbsp;Delete</button>
    </div>
  </div>
  <div class="col-md-5">
    <div class="row">
      <div class="col-md-4 input-group">
        <input type="text" id="testdateFrom" name="testdate" placeholder="From" class="form-control" value="">
        <label class="input-group-addon btn" for="testdateFrom">
          <span class="fa fa-calendar"></span>
        </label>
      </div>
      <div class="col-md-4 input-group">
        <input type="text" id="testdateTo" name="testdate" placeholder="To" class="form-control" value="">
        <label class="input-group-addon btn" for="testdateTo">
          <span class="fa fa-calendar"></span>
        </label>
      </div>
      <div class="col-md-4">
        <div class="text-right">
          <button type="button" class="btn btn-dark btn-sm">
            Alert Log</button>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="card">
  <table class="table table-striped">
    <thead style="background-color:#0C73E2; color:wheat;">
      <tr>

        <th scope="col">
          <input type="checkbox" value="" [(ngModel)]="selectedAll" (change)="selectAll();">
        </th>
        <th scope="col">Category</th>
        <th scope="col">Commodity</th>
        <th scope="col">Threshold</th>
        <th scope="col">Threshold Range</th>
        <th scope="col">Source</th>
        <th scope="col">Edit</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let config of configs">
        <td>
          <input type="checkbox" value="" [(ngModel)]="config.selected" (change)="checkIfAllSelected();">
        </td>
        <td>{{config.categoryName}}</td>
        <td>{{config.commodityName}}</td>
        <td>{{config.thresholdName}}</td>
        <td>{{config.thresholdRange}}</td>
        <td>{{config.source}}</td>
        <td>
          <button type="button" class="btn btn-danger btn-sm" (click)="editConfiguration(config,template)">
            <i class="material-icons" style="background:rgba(0,0,0,0.15);">create</i>&nbsp;&nbsp;Edit</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>

<ng-template #template>
  <div class="modal-header" style="background-color: #0C73E2; color:wheat; text-align: center">
    <h5 class="modal-title">Add Configuration</h5>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <form [formGroup]="myForm" (ngSubmit)="submitForm()">
    <div class="modal-boy">
      <div class="container">
        <div class="form-group">
          <!-- <ng-select [items]="sources" placeholder="Select Source" formControlName="ddlSource" class="p-1">
          </ng-select> -->
          <ng-select class="p-1" formControlName="ddlSource">
            <ng-option *ngFor="let source of sources" [value]="source">{{source}}</ng-option>
          </ng-select>
        </div>
        <div class="form-group">
          <!-- <ng-select [items]="categories" bindLabel="categoryName" bindValue="categoryId" placeholder="Select Catagory" formControlName="ddlCatagory"
            class="p-1">
          </ng-select> -->
          <ng-select class="p-1" formControlName="ddlCatagory" (change)="onChangeCatagory($event)">
            <ng-option *ngFor="let category of categories" [value]="category.categoryId">{{category.categoryName}}</ng-option>
          </ng-select>
        </div>
        <div class="form-group">
          <ng-select class="p-1" formControlName="ddlCommodity">
            <ng-option *ngFor="let commodity of commodities" [value]="commodity.commodityId">{{commodity.commodityName}}</ng-option>
          </ng-select>
        </div>
        <div class="form-group">
          <ng-select class="p-1" formControlName="ddlThreshold">
            <ng-option *ngFor="let threshold of uniqueThresholds" [value]="threshold.thresholdId">{{threshold.thresholdName}}</ng-option>
          </ng-select>
        </div>
        <div class="form-group">
          <ng-select class="p-1" formControlName="ddlThresholdRange">
            <ng-option *ngFor="let threshold of thresholds" [value]="threshold.thresholdId">{{threshold.thresholdValue}}</ng-option>
          </ng-select>
        </div>

        <div class="form-group">
          <input type="email" class="form-control" placeholder="Email" formControlName="txtEmail">
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <button class="btn btn-info" [disabled]="!myForm.valid">
        {{btnSave}}
      </button>
    </div>
  </form>
</ng-template>